@{
    ViewData["Title"] = "Dashboard";
}

<h1>Account Dashboard</h1>

<div>
    This is your dashboard, @ViewData["UserName"]
    <br />
    Your UserId is @ViewData["UserId"]
    <hr />
    <a asp-action="Logout" class="btn btn-primary">Logout</a>
</div>