@{
    ViewData["Title"] = "Details";
}

<h1>Success</h1>

<div>
    You have successfully registered. You may now login.
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Proceed to Login</a>
</div>